<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ERROR PAGE</title>
</head>
<body style="color: #FF0000" class="general-width-form container">
    <h1 th:text="'Message: '+${msg}"></h1>
    <p style="font-size: 17px" th:text="'Description: '+${description}"></p>
</body>
</html>