<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UnitBean - список статей</title>
    <link rel="stylesheet" th:href="@{/css/main1.css}"/>

</head>
<body>
    <form class="container" method="GET" accept-charset="UTF-8">
<!--        general-width-form-->
        <div class="d-flex" id="header">
            <div class="emblem-number">
                <div class="d-flex" style="margin-bottom: 7px;">
                    <img th:src="@{/img/icon_unitbean_black.jpg}" src="" alt="icon">
                    <span id="emblem-ub">UnitBean</span>
                </div>
                <span id="col-12">
                    <span th:text="'Статьи, ' + ${#lists.size(articles)}"></span>
                </span>
            </div>
            <div class="ml">
                <a th:href="@{/add_article}" class="b-add-article">Добавить статью</a>
            </div>
        </div>
        <ol class="d-flex flex-wrap gutter-condensed p-cont-cent">
            <li th:each="article : ${articles}" th:title="${article.title}" th:name="${article.id}"
                class="col-12 list-style-none col-md-6 mb-3 li-mw-art" >
                <div class="Box width-full">
                    <div id="cage-img">
                        <p id="img" class="border-bottom">
                                <a th:href="@{'/articles/article/'+${article.id}}">
                                <img th:if="${article.filename != null}"
                                     th:src="@{'/img/upload/'+${article.filename}}" th:alt="${article.id}"
                                     alt="">
                            </a>
                        </p>
                    </div>
                    <div class="line-clamp" id="title">
                        <p id="name">
                            <a th:href="@{'/articles/article/'+${article.id}}"
                               th:text="${article.title}"></a></p>
                    </div>
                    <p th:text="${article.date}" id="date" class="text-x-small border-bottom"></p>
                    <div class="line-clamp " id="description">
                        <p class="text-x-small ws-pre-l " th:text="${article.description}"></p>
                    </div>
                </div>
            </li>
        </ol>
    </form>
    <div class="footer">
        <div class="f-container"></div>
    </div>
</body>
</html>