<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NOT FOUND</title>
    <link rel="stylesheet" th:href="@{/css/main1.css}">
</head>
<body class="container general-width-form">
    <h1>article withs ID = <span th:text="#{id}"></span> not found! </h1>
</body>
</html>